extends layout

block styles
block content
  .main
    .main-body
      #cluster.container
        .panel.panel-default(v-for='cluster in clusters')
          .panel-heading
            h3 {{ cluster.name }}
          .panel-body
            .row
              .col-sm-6.col-md-3(v-for='machine in cluster.machines')
                p.machine {{ cluster.machines.indexOf(machine)+1 }} : {{ machine.type }}
                p.machine Last used: {{ machine.username }}
                .progress
                  .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', v-bind:style="{width: machine.percent()+'%'}")
                    | {{ machine.display() }}
block footer
block scripts
  // Server variables
  script.