extends layout

block styles
block content
  .main
    .main-body
      #cluster
        #four(v-if='(machines.length == 4)')
          .machinecontainer(v-for='machine in machines', v-bind:style="{ width: 100/machines.length + '%' }")
            .machinetext {{machine.state}}
            img.machine(v-bind:src="machine.image", v-on:click="setMachineUsage(title, machines.indexOf(machine))", alt="Picture of machine", style='width:100%;height:auto;')
      #register
        .input-group
          span.input-group-addon @
          input#name.keyboard.form-control(type='text', placeholder='Your nickname')
        | <br>
        .input-group
          span.input-group-addon +65
          input#number.keyboard.form-control(type='text', placeholder='Your number')
          span.input-group-btn
            button#submit.btn.btn-default(type='button') Go!
        | <br>
      p#message 
block footer
block scripts
  // Server variables
  script.