extends layout

block styles
block content
  #cluster.container
    #four.container(v-if='machines.length == 4')
      .machine.col-md-3(v-for='machine in machines')
    #five.container(v-if='machines.length == 5')
      .machine.col-md-2(v-for='machine in machines')
  .main
    .main-body
      #register
        .input-group
          span.input-group-addon @
          input#name.keyboard.form-control(type='text', placeholder='Your nickname')
        | <br>
        .input-group
          span.input-group-addon +65
          input#number.keyboard.form-control(type='text', placeholder='Your number')
          span.input-group-btn
            button.btn.btn-default(type='button') Go!
        | <br>
        p.message New user detected. Please register.
      #identified
        p.message Hi, you will be notified when your laundry is done.
      #anonymous
        p.message No identity detected. The timer has been set.
block footer
block scripts
  // Server variables
  script.