.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#register {
    padding-left: 6em;
    padding-right: 6em;
}

.main {
    height: 100%;
}

.main-body {
    padding-top: 10vw;
    float: left;
    height:100%;
    width: 100%;
}

html, body{
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cluster, #four, #five {
    height: 90%;
}

.machinecontainer {
    float: left;
    height: 90%;
}

.machinetext {
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
}

#message {
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 1.5em !important;
    font-weight: bold;
}

body {
    background: url(../img/intro-bg.jpg) no-repeat center center fixed; ;
    background-size: cover;
}

/* Keyboard */
.keyboard {
    font-size: 1.6em !important;
    color: #000;
}

@media(min-width:768px) {
    .keyboard {
        color: #000;
    }
}

.fb-like {
    padding-left: 50px;
}

.ui-keyboard-button {
    min-width: 8vw !important;
    height: 4.5em !important;
}

.ui-keyboard-text {
    font-size: 4vw !important;
    color: #000;
}